set_io gpio_o[0] 6
set_io gpio_o[1] 9
set_io gpio_o[2] 11
set_io gpio_o[3] 18
set_io gpio_o[4] 19
set_io gpio_o[5] 13
set_io gpio_o[6] 21
set_io gpio_o[7] 12

set_io gpio_i[0] 37
set_io gpio_i[1] 31
set_io gpio_i[2] 35
set_io gpio_i[3] 32
set_io gpio_i[4] 27
set_io gpio_i[5] 26
set_io gpio_i[6] 25
set_io gpio_i[7] 23

set_io RX 3
set_io TX 4

set_io tst_rst 2
set_io tst_clk 46
set_io tst_irq 47

set_io RGB0 39
set_io RGB1 40
set_io RGB2 41

