set_io clk_16 44

set_io gpio_o[0] 38
set_io gpio_o[1] 42
set_io gpio_o[2] 36
set_io gpio_o[3] 37
set_io gpio_o[4] 34
set_io gpio_o[5] 35
set_io gpio_o[6] 31
set_io gpio_o[7] 32

set_io gpio_i[0] 6
set_io gpio_i[1] 3
set_io gpio_i[2] 2
set_io gpio_i[3] 48
set_io gpio_i[4] 46
set_io gpio_i[5] 45

set_io RX 27
set_io TX 28

# SPI on PMOD for test
#set_io spi0_mosi 25
#set_io spi0_miso 26
#set_io spi0_sclk 21
#set_io spi0_cs0 23

# SPI on config flash pins
set_io spi0_mosi 14
set_io spi0_miso 17
set_io spi0_sclk 15
set_io spi0_cs0 16

set_io ps2_dat 4
set_io ps2_clk 47

set_io luma 19
set_io sync 20

set_io tst[0] 43
set_io tst[1] 18
set_io tst[2] 13
set_io tst[3] 12

set_io RGB0 39
set_io RGB1 40
set_io RGB2 41

